.gutter {
    background-color: var(--bg-gutter);
    background-repeat: no-repeat;
    background-position: 100%;
}

.gutter:hover {
    background-color: var(--bg-gutter-hover);
    background-repeat: no-repeat;
    background-position: 100%;
}