main .title {
  line-height: 40px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 10px;
}

main .chat {
  flex: 1;
  overflow: auto;
  padding: 0 10px;
}

main #stopBtn {
  background: #d73a49;
  color: #fff
}

main #sendBtn {
  background-color: #4b8bf5;
  color: white;
}

main #loading {
  font-size: 14px;
  color: #656d76
}

main .chatPanel {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

main .chatBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

main section {
  line-height: 150%;
}

main section .msg-header {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #A8B0BB;
  line-height: 30px;
  gap:4px;
}

main section .msg-avatar {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #f0f0f0;
  margin-right: 10px;
}

main section .msg-content {
  padding-left: 20px;
  padding-right: 20px;
}


/* 让 markdown 样式生效 */
main section .markdown-body {
  text-align: left;
  box-sizing: border-box;
  /* margin: 0 auto; */
  /* padding: 16px */
}