:root,
[data-theme="light"] {
  --font-size: 14px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica", "Arial", sans-serif;

  --bg: var(--white);
  --text: #1a1a1a;

  --bg-header: var(--white);  /*头部背景颜色*/
  --bg-main:var(--white);     /*头部背景颜色*/
  --bg-left: var(--white);    /*左边面板背景颜色*/
  --bg-right: var(--white);   /*右边面板背景颜色*/
  --bg-footer: var(--white);

  --bg-gutter:#d0d7de;
  --bg-gutter-hover:#003d99;

  --ui-bg: #0066ff;      /*UI 控件背景颜色*/
  --ui-text: #1a1a1a;    /*UI 控件文本颜色*/
  --ui-hover: #0052cc;   /*UI 控件鼠标经过颜色*/
  --ui-active: #003d99;  /*UI 控件激活颜色*/
  --ui-focus-ring: #3b82f6;  /*UI 控件聚焦颜色*/

  --border: #d0d7de;  /*UI 边框颜色*/
  --radius: 6px;  /*UI 圆角大小*/
  --shadow: 0 1px 2px rgba(0, 0, 0, .05); /*UI 阴影*/


  --btn-bg: var(--sky-800);
  --btn-bg-hover: var(--sky-200);
  --btn-bg-active: var(--sky-200);
  --btn-bg-disabled: var(--sky-200);
  --btn-bg-loading: var(--sky-200);

  --btn-text: var(--gray-800);
  --btn-text-hover: var(--gray-800);
  --btn-text-active:var(--gray-800);
  --btn-text-disabled: var(--gray-800);
  --btn-ring-foucs: var(--sky-50);

}

[data-theme="light"] .markdown-body{
    --focus-outlineColor: #0969da;
    --fgColor-default: #1f2328;
    --fgColor-muted: #59636e;
    --fgColor-accent: #0969da;
    --fgColor-success: #1a7f37;
    --fgColor-attention: #9a6700;
    --fgColor-danger: #d1242f;
    --fgColor-done: #8250df;
    --bgColor-default: #ffffff;
    --bgColor-muted: #f6f8fa;
    --bgColor-neutral-muted: #818b981f;
    --bgColor-attention-muted: #fff8c5;
    --borderColor-default: #d1d9e0;
    --borderColor-muted: #d1d9e0b3;
    --borderColor-neutral-muted: #d1d9e0b3;
    --borderColor-accent-emphasis: #0969da;
    --borderColor-success-emphasis: #1a7f37;
    --borderColor-attention-emphasis: #9a6700;
    --borderColor-danger-emphasis: #cf222e;
    --borderColor-done-emphasis: #8250df;
    --color-prettylights-syntax-comment: #59636e;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-prettylights-syntax-entity: #6639ba;
    --color-prettylights-syntax-storage-modifier-import: #1f2328;
    --color-prettylights-syntax-entity-tag: #0550ae;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-brackethighlighter-angle: #59636e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #1f2328;
    --color-prettylights-syntax-markup-bold: #1f2328;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #d1d9e0;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
  }